@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Base Styling */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    position: relative;    
}

/* Navigation-styling*/
.navbar {
    position: absolute;
    top: 2%;
    background-image: linear-gradient(90deg, transparent 50%, #C4C4C4 50%);
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}
.navbar-nav {
    margin-left: 18rem;
}
.navbar-nav #find-creative {
    margin-right: 8rem;
}
#nav-links {
    margin-right: 4rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #AF010B;
    
}
.navbar-light .navbar-nav .nav-link {
    color: #AF010B;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #AF010B;
    background-color: #C4C4C4;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='15' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Carousel */

.carousel-item {
    position: relative;
    height: auto;
    /* min-height: 300px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.layer {
    background-color: #AF010B;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/* .carousel-caption {
    bottom: 20%;
    left: 40%
    
} */

/* .carousel-caption h2 {
    border-left: 3px solid red;
    padding-left: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 6rem;
} */


/* Categories styling*/
.categories {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.categories-heading {
    padding: 11.6rem 0 8rem 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.5);
}

.categories-list {
    padding: 0 14rem;
}

.card{
    border: 0;
    margin-bottom: 7.8rem;
}

.card-img {
    width: 7.8rem;
}

.card-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.9rem;
    line-height: 58px;
    color: rgba(0, 0, 0, 0.5);   
}
.card-text {
    font-family: "Poppins", sans-serif  ;
    font-style: normal;
    font-weight: 200;
    font-size: 1.9rem;
    color: #000000;
}
.circles {
    bottom: 15%;   
}
.circles1 {
    top: 0;
    left: 80%;
}
.social-media {
    bottom: 25%;
    left: 95%;
}

/* Footer styling */
footer {
    background-color: #DADADA;
}

.row-footer {
    padding: 22rem 3rem 0 9rem;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-style: regular;
    font-size: 2.5rem;
    text-align: left;
}
.footer-subtext {
    font-family: "Roboto", sans-serif;
    font-size: 1.9rem;
    color: #000000;
}

footer a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    /* font-weight: 300; */
    font-size: 2.5rem;
    line-height: 2.9rem;
    color: #000000;
    text-decoration: none;
}
.hiring-text {
    font-size: 3rem;
}
.copyright {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #AF010B;
}

/* Media quaries */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .navbar {
        top: 0;
        background-image: linear-gradient(90deg, transparent 50%, transparent 50%);
        font-size: 1.5rem;
    }
    .navbar-nav {
        margin-left: auto;
    }
    .card {
        margin: 0;
        padding: 0 1.9rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .categories{
        padding-bottom: 6rem;
    }
    .categories-list {
        padding: 0;
    }
    .categories-heading {
        font-size: 2rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .bckg {
        background-color:#DADADA;
    }
 
    .card-img {
        padding-top: 1rem;
    }
    .card-title {
        font-size: 2.5rem
    }
    .card-text {
        font-size: 1.2rem
    }
   
    .circles1 {
        display: none;
    }
    .social-media {
        display:none;
    }
    .row-footer {
        padding: 3rem 0 1.4rem 2rem;
    }
    footer a {
        
        font-size: 1.3rem;
        /* line-height: 2.9rem; */
        color: #000000;
        text-decoration: none;
    }
    .hiring-text {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}
